.main{
    &__keyboard{
    background-color: aquamarine;
    margin: 0 auto;
    width: 100%;
    padding: 15px;
    border-radius: 20px;
    }
    &__language{
        color: rgb(112, 132, 245);
        padding: 10px;
        font-size: 25px;
        font-weight: 600;
        line-height: 2em;
    }
}
.keyboard{
    &-container{
        position: relative;
        display: flex;
        flex-direction: column;
    }
    &-line{
        display: flex;
    }
    &-line:not(:last-child){
        margin-bottom: 15px;
    }
    &-key{
        display: flex;
        width: 60px;
        height: 60px;
        border: 2px solid black;
        justify-content: center;
        align-items: center;
        background-color: rgb(49, 32, 80);
        color: white;
        border-radius: 10px;
        font-size: 23px;
        cursor: pointer;
        transition: all .4s ease-in-out;
        box-shadow:0 0 5px 2px rgb(49, 32, 80);
    }
    &-key:not(:last-child){
        margin-right: 15px;
    }
}