.backspace{
    width: 180px;
}
.tab, .capslock{
    width: 135px;
}
.enter{
    width: 105px;
    position: absolute;
    right: 76px;
    top: 75px;
    height: 135px;
}
.leftshift,
.rightshift{
    width: 157px;
}
.rightctrl,
.leftctrl{
    width: 130px;
}
.leftalt,
.rightalt{
    width: 100px;
}
.space{
    width:484px;
}